In [26]:
dict = {"country": ["Brazil", "Russia", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
       "area": [8.516, 17.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98] }

import pandas as pd
brics = pd.DataFrame(dict)

In [27]:
brics

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Dehli   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [5]:
brics.shape

(5, 4)

In [7]:
# Set the index for brics
brics.index = ["BR", "RU", "IN", "CH", "SA"]

In [8]:
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Dehli   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [10]:
pwd

'/Users/premrajrengaram'

In [11]:
brics.to_csv('countries.csv')

In [28]:
ls -ltr

total 80
drwxr-xr-x+  4 premrajrengaram  staff    128 Feb 20 21:25 Public/
drwx------@  3 premrajrengaram  staff     96 Feb 20 21:34 Applications/
drwxr-xr-x   3 premrajrengaram  staff     96 Feb 23 18:18 opt/
drwx------+  4 premrajrengaram  staff    128 Feb 24 10:24 Pictures/
drwx------+  4 premrajrengaram  staff    128 Feb 24 10:28 Movies/
-rw-r--r--   1 premrajrengaram  staff     72 Feb 26 12:12 Untitled.ipynb
drwxr-xr-x   4 premrajrengaram  staff    128 Feb 26 18:47 nltk_data/
-rw-r--r--   1 premrajrengaram  staff     72 Feb 28 10:40 Untitled1.ipynb
drwxr-xr-x   3 premrajrengaram  staff     96 Feb 28 20:02 scikit_learn_data/
drwx------+  4 premrajrengaram  staff    128 Mar  4 07:40 Music/
drwx------@ 69 premrajrengaram  staff   2208 Mar 17 22:09 Library/
drwxr-xr-x   3 premrajrengaram  staff     96 Mar 19 16:07 Samsung/
-rw-r--r--   1 premrajrengaram  staff   1275 Apr  5 18:48 MachineLearning.ipynb
drwx------+  6 premrajrengaram  staff    192 Apr 10 10:56 Documents/
drwx------@ 44 premrajrengaram  staff   1408 May  3 10:32 Downloads/
-rw-r--r--   1 premrajrengaram  staff    191 May  3 16:45 countries.csv
-rw-r--r--   1 premrajrengaram  staff   7915 May  3 16:45 Untitled2.ipynb
drwx------@ 32 premrajrengaram  staff   1024 May  3 17:10 Desktop/
-rw-r--r--   1 premrajrengaram  staff  15290 May  3 18:15 Team-Pandas-Book.ipynb

In [32]:

# Import 
countries = pd.read_csv('countries.csv')
print(type(countries))
# Print out 
print(countries)

<class 'pandas.core.frame.DataFrame'>
  Unnamed: 0       country    capital    area  population currency
0         BR        Brazil   Brasilia   8.516      200.40      BBB
1         RU        Russia     Moscow  17.100      143.50      RBL
2         IN         India  New Dehli   3.286     1252.00      INR
3         CH         China    Beijing   9.597     1357.00      YEN
4         SA  South Africa   Pretoria   1.221       52.98      RND

In [33]:
countries_no_idx = pd.read_csv('countries.csv',index_col=0)

In [34]:
type(countries_no_idx)

pandas.core.frame.DataFrame

In [17]:
countries_no_idx

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Dehli   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [18]:
ls -ltr

total 72
drwxr-xr-x+  4 premrajrengaram  staff    128 Feb 20 21:25 Public/
drwx------@  3 premrajrengaram  staff     96 Feb 20 21:34 Applications/
drwxr-xr-x   3 premrajrengaram  staff     96 Feb 23 18:18 opt/
drwx------+  4 premrajrengaram  staff    128 Feb 24 10:24 Pictures/
drwx------+  4 premrajrengaram  staff    128 Feb 24 10:28 Movies/
-rw-r--r--   1 premrajrengaram  staff     72 Feb 26 12:12 Untitled.ipynb
drwxr-xr-x   4 premrajrengaram  staff    128 Feb 26 18:47 nltk_data/
-rw-r--r--   1 premrajrengaram  staff     72 Feb 28 10:40 Untitled1.ipynb
drwxr-xr-x   3 premrajrengaram  staff     96 Feb 28 20:02 scikit_learn_data/
drwx------+  4 premrajrengaram  staff    128 Mar  4 07:40 Music/
drwx------@ 69 premrajrengaram  staff   2208 Mar 17 22:09 Library/
drwxr-xr-x   3 premrajrengaram  staff     96 Mar 19 16:07 Samsung/
-rw-r--r--   1 premrajrengaram  staff   1275 Apr  5 18:48 MachineLearning.ipynb
drwx------+  6 premrajrengaram  staff    192 Apr 10 10:56 Documents/
drwx------@ 31 premrajrengaram  staff    992 May  1 21:23 Desktop/
drwx------@ 44 premrajrengaram  staff   1408 May  3 10:32 Downloads/
-rw-r--r--   1 premrajrengaram  staff    191 May  3 16:45 countries.csv
-rw-r--r--   1 premrajrengaram  staff   7915 May  3 16:45 Untitled2.ipynb
-rw-r--r--   1 premrajrengaram  staff  10655 May  3 16:56 Team-Pandas-Book.ipynb

In [38]:
print(countries_no_idx['country'][1])

Russia

In [39]:
countries_no_idx

         country    capital    area  population currency
BR        Brazil   Brasilia   8.516      200.40      BBB
RU        Russia     Moscow  17.100      143.50      RBL
IN         India  New Dehli   3.286     1252.00      INR
CH         China    Beijing   9.597     1357.00      YEN
SA  South Africa   Pretoria   1.221       52.98      RND

In [45]:
print(countries_no_idx[-1:])

         country   capital   area  population currency
SA  South Africa  Pretoria  1.221       52.98      RND

In [20]:

# Print out country column as Pandas Series
print(countries_no_idx['country'])

# Print out country column as Pandas DataFrame
print(countries_no_idx[['area']])

# Print out DataFrame with country and drives_right columns
print(countries_no_idx[['country', 'area']])

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object
      area
BR   8.516
RU  17.100
IN   3.286
CH   9.597
SA   1.221
         country    area
BR        Brazil   8.516
RU        Russia  17.100
IN         India   3.286
CH         China   9.597
SA  South Africa   1.221

In [21]:
# Print out first 4 observations
print(countries_no_idx[0:2])

# Print out fifth and sixth observation
print(countries_no_idx[2:3])

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5
   country    capital   area  population
IN   India  New Dehli  3.286      1252.0

In [46]:
# Print out observation 
print(countries_no_idx.iloc[2])

# Print out observations
print(countries_no_idx.loc[['RU', 'CH']])

country           India
capital       New Dehli
area              3.286
population         1252
currency            INR
Name: IN, dtype: object
   country  capital    area  population currency
RU  Russia   Moscow  17.100       143.5      RBL
CH   China  Beijing   9.597      1357.0      YEN